@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  display: inline-block;
  text-decoration: none;
  color: #000; }

ul li {
  list-style: none; }

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer; }

input[type='text'],
input[type='password'] {
  padding: 0 10px;
  width: 100%;
  height: 45px;
  font-size: 14px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background: #fff; }

.pageTit {
  padding-bottom: 50px;
  margin-bottom: 50px;
  font-size: 24px;
  border-bottom: 1px solid #ddd; }

/* login & register */
.loginWrap, .registerWrap {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center; }

.instaIntroArea {
  width: 350px; }
  .instaIntroArea > .box {
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #dbdbdb; }
    .instaIntroArea > .box:first-child {
      margin-top: 0; }
  .instaIntroArea .box .logo {
    padding: 20px 0 30px;
    text-align: center; }
    .instaIntroArea .box .logo i {
      font-size: 40px; }
  .instaIntroArea .box .txt {
    margin-bottom: 30px;
    text-align: center;
    color: #737373;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4; }
  .instaIntroArea .box .fieldSet input {
    margin-top: 10px; }
    .instaIntroArea .box .fieldSet input:first-child {
      margin-top: 0; }
  .instaIntroArea .box .fieldSet .error {
    margin-top: 10px;
    font-size: 12px;
    color: #fd421d; }
  .instaIntroArea .box .fieldSet .btn {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    background: #cfcfcf;
    transition: 0.3s; }
    .instaIntroArea .box .fieldSet .btn.active {
      background: #59b5fa; }
  .instaIntroArea .box .text {
    text-align: center;
    font-size: 14px; }
    .instaIntroArea .box .text .btn {
      margin-left: 5px;
      font-size: 14px;
      color: #0095f6;
      font-weight: bold; }

/* layout */
.layoutWrap .sideMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 200px;
  height: 100vh;
  border-right: 1px solid #d8d8d8;
  background-color: #fff;
  z-index: 10; }
  .layoutWrap .sideMenu .logo {
    margin: 10px 0;
    text-align: center;
    font-size: 40px; }
  .layoutWrap .sideMenu nav ul li + li {
    margin-top: 15px; }
  .layoutWrap .sideMenu nav ul li a {
    padding: 10px 0;
    display: flex;
    align-items: center; }
    .layoutWrap .sideMenu nav ul li a .icon {
      font-size: 26px; }
    .layoutWrap .sideMenu nav ul li a .profile {
      overflow: hidden;
      width: 30px;
      height: 30px;
      border-radius: 50%; }
      .layoutWrap .sideMenu nav ul li a .profile img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .layoutWrap .sideMenu nav ul li a span {
      margin-left: 12px;
      font-size: 17px; }
  .layoutWrap .sideMenu .etcArea button {
    display: flex;
    align-items: center; }
    .layoutWrap .sideMenu .etcArea button .icon {
      font-size: 22px; }
    .layoutWrap .sideMenu .etcArea button span {
      margin-left: 8px;
      font-size: 18px; }

.layoutWrap .contentWrap {
  margin-left: 200px;
  width: calc(100% - 30%); }
  .layoutWrap .contentWrap .innerCont {
    padding: 30px 50px; }
    .layoutWrap .contentWrap .innerCont .storyList {
      display: flex;
      margin-bottom: 20px; }
      .layoutWrap .contentWrap .innerCont .storyList li + li {
        margin-left: 15px; }
      .layoutWrap .contentWrap .innerCont .storyList li button {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70px; }
        .layoutWrap .contentWrap .innerCont .storyList li button .img {
          overflow: hidden;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          border: 2px solid #d4d4d4; }
          .layoutWrap .contentWrap .innerCont .storyList li button .img img {
            border: 2px solid #fff;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: #fff; }
        .layoutWrap .contentWrap .innerCont .storyList li button .user {
          overflow: hidden;
          width: 100%;
          margin-top: 10px;
          font-size: 14px;
          color: #d4d4d4;
          text-overflow: ellipsis; }
      .layoutWrap .contentWrap .innerCont .storyList li.active button .img {
        border-color: transparent;
        background-origin: border-box;
        background-image: linear-gradient(90deg, #ad36ca 0%, #fd421d 70%, #fcdb45 100%); }
      .layoutWrap .contentWrap .innerCont .storyList li.active button .user {
        color: #000; }

/* 리스트 */
.feedList {
  position: relative;
  max-width: 500px;
  margin: 0 auto; }
  .feedList li + li {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #999; }
  .feedList li .user {
    display: flex;
    padding: 15px 0;
    align-items: center; }
    .feedList li .user a {
      display: flex;
      align-items: center; }
    .feedList li .user .profile {
      overflow: hidden;
      width: 40px;
      height: 40px;
      border-radius: 50%; }
      .feedList li .user .profile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        background: #fff; }
      .feedList li .user .profile.active {
        cursor: pointer;
        border-color: transparent;
        border: 2px solid transparent;
        background-origin: border-box;
        background-image: linear-gradient(90deg, #ad36ca 0%, #fd421d 70%, #fcdb45 100%); }
        .feedList li .user .profile.active img {
          border: 1px solid #fff; }
    .feedList li .user .name {
      margin-left: 10px;
      font-size: 16px;
      color: #000;
      font-weight: bold; }
    .feedList li .user .date {
      position: relative;
      margin-left: 10px;
      padding-left: 10px;
      font-size: 14px;
      color: #999; }
      .feedList li .user .date:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        transform: translateY(-50%);
        background-color: #999; }
  .feedList li .feedImg {
    overflow: hidden; }
    .feedList li .feedImg img {
      width: 100%;
      height: 500px;
      object-fit: cover; }
  .feedList li .utill {
    display: flex;
    padding: 10px 0;
    justify-content: space-between; }
    .feedList li .utill button {
      font-size: 26px; }
    .feedList li .utill .group button + button {
      margin-left: 12px; }
  .feedList li .like_num {
    font-size: 16px;
    font-weight: bold; }
  .feedList li .feedText {
    margin-top: 10px; }
    .feedList li .feedText .writer {
      display: inline-block;
      margin-right: 10px;
      font-size: 16px;
      font-weight: bold; }
    .feedList li .feedText .text {
      font-size: 14x;
      line-height: 1.2; }
    .feedList li .feedText .btnMore {
      color: #999;
      font-size: 14px; }
  .feedList li .replyInput {
    display: flex;
    margin-top: 10px; }
    .feedList li .replyInput button {
      margin-left: 5px;
      width: 80px;
      height: 45px;
      font-size: 14px;
      border-radius: 5px;
      background-color: #e4e4e4; }
      .feedList li .replyInput button.active {
        background-color: #2f8fd8; }

/* 게시물 등록 팝업 */
.newWritePopup {
  position: fixed;
  z-index: 15; }
  .newWritePopup .dim {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7); }
  .newWritePopup .popWrap {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    max-width: 1000px;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
    z-index: 10; }
    .newWritePopup .popWrap .popHead {
      display: flex;
      padding: 12px 15px;
      border-bottom: 1px solid #e4e4e4;
      justify-content: space-between; }
      .newWritePopup .popWrap .popHead h3 {
        font-size: 18px; }
      .newWritePopup .popWrap .popHead .back {
        font-size: 18px; }
      .newWritePopup .popWrap .popHead .btnEnroll {
        font-size: 16px;
        color: #2f8fd8; }
    .newWritePopup .popWrap .popCont {
      display: flex;
      width: 100%;
      height: 500px; }
      .newWritePopup .popWrap .popCont .imgArea {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #e4e4e4; }
        .newWritePopup .popWrap .popCont .imgArea .fileUpload {
          position: relative;
          cursor: pointer; }
          .newWritePopup .popWrap .popCont .imgArea .fileUpload input {
            position: absolute;
            top: -1px;
            left: -1px;
            width: 1px;
            height: 1px; }
          .newWritePopup .popWrap .popCont .imgArea .fileUpload > i {
            font-size: 50px; }
        .newWritePopup .popWrap .popCont .imgArea .img {
          position: relative;
          padding: 30px;
          width: 100%;
          height: 100%; }
          .newWritePopup .popWrap .popCont .imgArea .img img {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover; }
          .newWritePopup .popWrap .popCont .imgArea .img .btnDel {
            position: absolute;
            right: 12px;
            top: 12px; }
            .newWritePopup .popWrap .popCont .imgArea .img .btnDel i {
              font-size: 20px; }
      .newWritePopup .popWrap .popCont .writeArea {
        width: 35%;
        padding: 0 10px; }
        .newWritePopup .popWrap .popCont .writeArea .user {
          margin: 15px 0 10px;
          display: flex;
          align-items: center; }
          .newWritePopup .popWrap .popCont .writeArea .user img {
            overflow: hidden;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover; }
          .newWritePopup .popWrap .popCont .writeArea .user > span {
            margin-left: 10px;
            font-size: 16px;
            font-weight: bold; }
        .newWritePopup .popWrap .popCont .writeArea .textBox textarea {
          padding: 5px 0;
          width: 100%;
          height: 200px;
          font-size: 16px;
          line-height: 1.4;
          border: none;
          outline: none;
          resize: none; }
        .newWritePopup .popWrap .popCont .writeArea .textBox .length {
          text-align: right;
          font-size: 14px;
          color: #ddd; }

/* my profile */
.mypageWrap .profile {
  display: flex;
  padding-bottom: 30px;
  margin-bottom: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd; }
  .mypageWrap .profile .img {
    overflow: hidden;
    width: 120px;
    height: 120px;
    border-radius: 50%; }
    .mypageWrap .profile .img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .mypageWrap .profile .myinfo {
    margin-left: 30px; }
    .mypageWrap .profile .myinfo .user .userid {
      font-size: 20px;
      font-weight: bold; }
    .mypageWrap .profile .myinfo .user .btnEdit {
      margin-left: 15px;
      padding: 8px 12px;
      font-size: 18px;
      border-radius: 5px;
      background-color: #ededed; }
    .mypageWrap .profile .myinfo .nums {
      margin-top: 15px;
      display: flex; }
      .mypageWrap .profile .myinfo .nums > span {
        font-size: 16px; }
        .mypageWrap .profile .myinfo .nums > span + span {
          margin-left: 20px; }
        .mypageWrap .profile .myinfo .nums > span em {
          margin-left: 10px;
          font-weight: bold;
          font-style: normal; }
    .mypageWrap .profile .myinfo .name {
      margin-top: 10px;
      font-size: 14px; }

.mypageWrap .myfeed ul {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap; }
  .mypageWrap .myfeed ul li {
    overflow: hidden;
    margin: 0 0 12px 12px;
    width: 170px;
    height: 170px; }
    .mypageWrap .myfeed ul li:nth-child(3n+1) {
      margin-left: 0; }
    .mypageWrap .myfeed ul li a {
      display: block;
      width: 100%;
      height: 100%; }
      .mypageWrap .myfeed ul li a img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

/* 프로필 편집 */
.editWrap .row {
  display: flex;
  align-items: flex-start; }
  .editWrap .row + .row {
    margin-top: 30px; }
  .editWrap .row .tit {
    width: 100px;
    font-size: 18px;
    font-style: normal;
    font-weight: bold; }
  .editWrap .row .profile {
    display: flex;
    align-items: center; }
    .editWrap .row .profile .img {
      overflow: hidden;
      width: 60px;
      height: 60px;
      border-radius: 50%; }
      .editWrap .row .profile .img img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .editWrap .row .profile .user {
      margin-left: 18px; }
      .editWrap .row .profile .user .uid {
        margin-bottom: 2px;
        font-size: 16px;
        font-weight: bold;
        color: #000; }
      .editWrap .row .profile .user .profleChange {
        position: relative;
        cursor: pointer; }
        .editWrap .row .profile .user .profleChange input {
          position: absolute;
          top: -1px;
          left: -1px;
          width: 1px;
          height: 1px; }
        .editWrap .row .profile .user .profleChange span {
          font-size: 16px;
          color: #0095f6;
          font-weight: bold; }
  .editWrap .row .intro textarea {
    padding: 15px 10px;
    width: 400px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none; }
    .editWrap .row .intro textarea::placeholder {
      font-size: 14px; }
  .editWrap .row .intro .numchk {
    margin-top: 10px;
    font-size: 14px;
    color: #888; }
  .editWrap .row .intro .btnComplete {
    margin-top: 15px;
    padding: 10px;
    width: 80px;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    opacity: 0.5;
    background-color: #0095f6;
    transition: 0.3s; }
    .editWrap .row .intro .btnComplete.active {
      opacity: 1; }
