* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  display: inline-block;
  text-decoration: none;
  color: #000; }

ul li {
  list-style: none; }

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer; }

input {
  padding: 0 10px;
  width: 100%;
  height: 45px;
  font-size: 14px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background: #fff; }

/* login & register */
.loginWrap, .registerWrap {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center; }

.instaIntroArea {
  width: 350px; }
  .instaIntroArea > .box {
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #dbdbdb; }
    .instaIntroArea > .box:first-child {
      margin-top: 0; }
  .instaIntroArea .box .logo {
    padding: 20px 0 30px;
    text-align: center; }
    .instaIntroArea .box .logo i {
      font-size: 40px; }
  .instaIntroArea .box .txt {
    margin-bottom: 30px;
    text-align: center;
    color: #737373;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4; }
  .instaIntroArea .box .fieldSet input {
    margin-top: 10px; }
    .instaIntroArea .box .fieldSet input:first-child {
      margin-top: 0; }
  .instaIntroArea .box .fieldSet .error {
    margin-top: 10px;
    font-size: 12px;
    color: #fd421d; }
  .instaIntroArea .box .fieldSet .btn {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    background: #cfcfcf;
    transition: 0.3s; }
    .instaIntroArea .box .fieldSet .btn.active {
      background: #59b5fa; }
  .instaIntroArea .box .text {
    text-align: center;
    font-size: 14px; }
    .instaIntroArea .box .text .btn {
      margin-left: 5px;
      font-size: 14px;
      color: #0095f6;
      font-weight: bold; }

/* layout */
.layoutWrap .sideMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 200px;
  height: 100vh;
  border-right: 1px solid #d8d8d8;
  background-color: #fff;
  z-index: 10; }
  .layoutWrap .sideMenu .logo {
    margin: 10px 0;
    text-align: center;
    font-size: 40px; }
  .layoutWrap .sideMenu nav ul li + li {
    margin-top: 15px; }
  .layoutWrap .sideMenu nav ul li a {
    padding: 10px 0;
    display: flex;
    align-items: center; }
    .layoutWrap .sideMenu nav ul li a .icon {
      font-size: 26px; }
    .layoutWrap .sideMenu nav ul li a .profile {
      overflow: hidden;
      width: 30px;
      height: 30px;
      border-radius: 50%; }
      .layoutWrap .sideMenu nav ul li a .profile img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .layoutWrap .sideMenu nav ul li a span {
      margin-left: 12px;
      font-size: 17px; }
  .layoutWrap .sideMenu .etcArea button {
    display: flex;
    align-items: center; }
    .layoutWrap .sideMenu .etcArea button .icon {
      font-size: 22px; }
    .layoutWrap .sideMenu .etcArea button span {
      margin-left: 8px;
      font-size: 18px; }

.layoutWrap .contentWrap {
  margin-left: 200px;
  width: calc(100% - 30%); }
  .layoutWrap .contentWrap .innerCont {
    padding: 30px 50px; }
    .layoutWrap .contentWrap .innerCont .storyList {
      display: flex;
      margin-bottom: 20px; }
      .layoutWrap .contentWrap .innerCont .storyList li + li {
        margin-left: 15px; }
      .layoutWrap .contentWrap .innerCont .storyList li button {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70px; }
        .layoutWrap .contentWrap .innerCont .storyList li button .img {
          overflow: hidden;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          border: 2px solid #d4d4d4; }
          .layoutWrap .contentWrap .innerCont .storyList li button .img img {
            border: 2px solid #fff;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: #fff; }
        .layoutWrap .contentWrap .innerCont .storyList li button .user {
          overflow: hidden;
          width: 100%;
          margin-top: 10px;
          font-size: 14px;
          color: #d4d4d4;
          text-overflow: ellipsis; }
      .layoutWrap .contentWrap .innerCont .storyList li.active button .img {
        border-color: transparent;
        background-origin: border-box;
        background-image: linear-gradient(90deg, #ad36ca 0%, #fd421d 70%, #fcdb45 100%); }
      .layoutWrap .contentWrap .innerCont .storyList li.active button .user {
        color: #000; }

.feedList {
  position: relative;
  max-width: 500px;
  margin: 0 auto; }
  .feedList li + li {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #999; }
  .feedList li .user {
    display: flex;
    align-items: center;
    padding: 15px 0; }
    .feedList li .user .profile {
      overflow: hidden;
      width: 40px;
      height: 40px;
      border-radius: 50%; }
      .feedList li .user .profile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        background: #fff; }
      .feedList li .user .profile.active {
        cursor: pointer;
        border-color: transparent;
        border: 2px solid transparent;
        background-origin: border-box;
        background-image: linear-gradient(90deg, #ad36ca 0%, #fd421d 70%, #fcdb45 100%); }
        .feedList li .user .profile.active img {
          border: 1px solid #fff; }
    .feedList li .user .name {
      margin-left: 10px;
      font-size: 16px;
      color: #000;
      font-weight: bold; }
    .feedList li .user .date {
      position: relative;
      margin-left: 10px;
      padding-left: 10px;
      font-size: 14px;
      color: #999; }
      .feedList li .user .date:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        transform: translateY(-50%);
        background-color: #999; }
  .feedList li .feedImg {
    overflow: hidden; }
    .feedList li .feedImg img {
      width: 100%;
      height: 500px;
      object-fit: cover; }
  .feedList li .utill {
    display: flex;
    padding: 10px 0;
    justify-content: space-between; }
    .feedList li .utill button {
      font-size: 26px; }
    .feedList li .utill .group button + button {
      margin-left: 12px; }
  .feedList li .like_num {
    font-size: 16px;
    font-weight: bold; }
  .feedList li .feedText {
    margin-top: 10px; }
    .feedList li .feedText .writer {
      display: inline-block;
      margin-right: 10px;
      font-size: 16px;
      font-weight: bold; }
    .feedList li .feedText .text {
      font-size: 14x;
      line-height: 1.2; }
    .feedList li .feedText .btnMore {
      color: #999;
      font-size: 14px; }
